img {
  height: 150px;
  width: 100%;
  border-radius: 10px;
}
.card {
  background-color: rgb(180, 221, 255);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid blue;
  float: left;
  justify-content: center;
}

.card :hover {
  background-color: rgb(129, 198, 255);
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid rgb(162, 255, 0);
}
